# General
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
__pycache__

*.egg*/
build/
dist/
tmp/

.vscode/

*.mp4
*.png
*.mov

examples/ros2/install
examples/ros2/build
examples/ros2/log
examples/ros2/src/simulation_env/i-80-traj-new-400-415.csv

results/
